<br><br><br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
        <h1 style="font-size:40px;
        font-family:Impact, Charcoal, sans-serif;
        color:rgb(1, 7, 26);
        font-style: italic">RESTAURANTS</h1>
       <hr>
       <div style="margin-left: 5%;" class="row" *ngFor="let restaurent of restaurents">
           <div class="col-sm-8"><h5>
                Name: {{restaurent.restaurentName}} |
                 Rating:&nbsp; {{restaurent.restaurentRating}}<span class="fa fa-star checked"></span> |
                 Address:&nbsp;{{restaurent.restaurentAdress}} |
                 <span *ngIf="restaurent.isActive">Open</span>
                 <span *ngIf="!restaurent.isActive">Closed</span>
                </h5><br>
           </div>
           <div class="col-sm-4" >
                 <button class="btn btn-primary" (click)="menu(restaurent.restaurentId,restaurent.restaurentName)">MENU</button>&nbsp;&nbsp;&nbsp;
                 <button class="btn btn-info" (click)="EditRestaurent(restaurent.restaurentId,restaurent.restaurentName)">EDIT</button>
                 <br> </div>
            
       </div><hr>
     <div align="center">
       <button  class="btn btn-primary" (click)="addRestaurent()">Add new restaurent</button>
      </div>
    <br>
    </div>
    
