<div *ngFor="let restaurent of restaurents">
<div *ngIf="restaurent.isActive">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div  style="background-color: rgba(31, 29, 29, 0.6);">
<div class="container">
<br><h1 style="font-size:40px;
    font-family:Impact, Charcoal, sans-serif;
    color:rgb(14, 71, 241);
    font-style: italic">{{restaurent.restaurentName}}  </h1>
   <hr>
   <h4 style="color: white;">Rating: {{restaurent.restaurentRating}} <span class="fa fa-star checked"></span> |  Address: {{restaurent.restaurentAdress}}</h4> 

</div>
<div class="container"><br><h1 style="font-size:40px;
    font-family:Impact, Charcoal, sans-serif;
    color:rgb(142, 167, 241);
    font-style: italic">DISHES</h1></div>


  </div>
    
      <div class="container" align="center">
        <div class="row">
        <div class="col-sm-3" *ngFor="let dish of restaurent.dishes">
            <img src={{dish.imageUrl}} alt={{dish.dishName}} width="100%" height="150"><br>
           <h4> {{dish.dishName}} at Rs. {{dish.price}}</h4>
            <p>About:&nbsp;{{dish.shortDescription}}</p><h4 *ngIf="dish.isVeg" style="background-color:green; color: aliceblue; width: 50%;height: 8%;">Veg</h4>
            <h4 *ngIf="!dish.isVeg" style="background-color: red; color: aliceblue; width: 60%;">Non-Veg</h4>
           <h5> <span *ngIf="dish.freeDelivery">Avaliable for free delivery</span></h5>
           <button *ngIf="service.islogin()" class="btn btn-primary" (click)="addtoCart(dish.dishId,dish.dishName,restaurent.restaurentId)">Add to cart</button>
            

</div>
        </div></div>
        <hr>
    </div>
</div>
<!-- dish area -->

<div *ngFor="let restaurent of dishes">
    <div *ngIf="restaurent.isActive">
    
        <div  style="background-color: rgba(31, 29, 29, 0.6);">
        <div class="container">
        <br><h1 style="font-size:40px;
            font-family:Impact, Charcoal, sans-serif;
            color:rgb(14, 71, 241);
            font-style: italic">{{restaurent.restaurentName}}  </h1>
           <hr>
           <h4 style="color: white;">Rating: {{restaurent.restaurentRating}} <span class="fa fa-star checked"></span> |  Address: {{restaurent.restaurentAdress}}</h4> 
        
        </div>
        <div class="container"><br><h1 style="font-size:40px;
            font-family:Impact, Charcoal, sans-serif;
            color:rgb(142, 167, 241);
            font-style: italic">DISHES</h1></div>
        
        
          </div>
        
          <div class="container" align="center">
            <div class="row">
            <div class="col-sm-3" *ngFor="let dish of restaurent.dishes">
                <img src={{dish.imageUrl}} alt={{dish.dishName}} width="100%" height="150"><br>
               <h4> {{dish.dishName}} at Rs. {{dish.price}}</h4>
                <p>About:&nbsp;{{dish.shortDescription}}</p><h4 *ngIf="dish.isVeg" style="background-color:green; color: aliceblue; width: 50%;height: 8%;">Veg</h4>
                <h4 *ngIf="!dish.isVeg" style="background-color: red; color: aliceblue; width: 60%;">Non-Veg</h4>
               <h5> <span *ngIf="dish.freeDelivery">Avaliable for free delivery</span></h5>
               <button *ngIf="service.islogin()" class="btn btn-primary" (click)="addtoCart(dish.dishId,dish.dishName,restaurent.restaurentId)">Add to cart</button>
               
    
    </div>
            </div></div>
            <hr class="new2">
        </div>
</div>
   

<!-- <div *ngIf="!restaurents.length">
    <div *ngIf="!dishes.length">
        <br><br>
        <h2 align="center" style="background-color: aliceblue; color: red;margin-left: 25%;margin-right: 25%; border: 2px solid black; border-radius: 10%;">No results Found</h2>
      
    </div>
</div> -->
<div *ngIf="notFound">
    
    <h2> aaaaa </h2>
    <h2 align="center" style="background-color: aliceblue; color: red;margin-left: 25%;margin-right: 25%; border: 2px solid black; border-radius: 10%;">
        {{ notFoundMessage }}
    </h2>
      
  
</div>
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->


