<br><br>
<div class="container">
<div class="col-sm-6">
<h3>Edit Dish</h3>
<hr>
<label >Name:  </label>
<input type="text" class="form-control"  name="dishtName" id="dishtName" [(ngModel)]="dish.dishName" required>
<br>
<label >Short Description:  </label>
<input type="text"  class="form-control" name="shortDescription" id="shortDescription" [(ngModel)]="dish.shortDescription" required>
<br>
<label >Image Url:  </label>
<input type="text" class="form-control"  name="imageUrl" id="imageUrl" [(ngModel)]="dish.imageUrl" required>
<br>
<label >Price:  </label>
<input type="number" class="form-control"  name="price" id="price" [(ngModel)]="dish.price" required>
<br>
<label >Is Veg: {{dish.isVeg}}   </label><br>
<input type="radio" name="isVeg" id="isVeg" value="true" (change)="radiochangeHandeller1($event)"><i>true</i><br>
<input type="radio" name="isVeg" id="isVeg" value="false" (change)="radiochangeHandeller1($event)" ><i>false</i>
<br>
<label >Free Delivery: {{dish.freeDelivery}}  </label><br>
<input type="radio" name="freeDelivery" id="freeDelivery" value="true" (change)="radiochangeHandeller2($event)"  ><i>true</i><br>
<input type="radio" name="freeDelivery" id="freeDelivery" value="false" (change)="radiochangeHandeller2($event)"><i>false</i>
<br>

<div align="right">
<button class="btn btn-primary" (click)="updateHandel()">Update Dish</button><br></div>
<br>
</div>
</div>
<br>