
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="http://localhost:4200" class="navbar-brand" style="font-size: large;" >Swaggyplus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a *ngIf="!service.islogin()  && !aService.isadminlogin()" class="nav-link" routerLink="">Home</a>
              <a *ngIf="service.islogin()" (click)="goauser()" class="nav-link">{{this.service.getCurrentUserName()}}</a>
              <a *ngIf="aService.isadminlogin()" (click)="goadmin()" class="nav-link">{{this.aService.getCurrentAdminName()}}</a>
            </li>
            <li *ngIf="!service.islogin() && !aService.isadminlogin()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="user/login">User</a>
                <a class="dropdown-item" routerLink="admin/login">Admin</a>
              </div>
            </li>
            <li><a *ngIf="service.islogin()"  class="nav-link"  (click)="restaurents()">Restaurants</a></li>
            <li><a *ngIf="service.islogin() || aService.isadminlogin()"  class="nav-link"  (click)="sesclr()">Logout</a></li>
           
          </ul>
          <img *ngIf="service.islogin()" src="https://image.flaticon.com/icons/png/512/34/34627.png" width="2%" height="2%">&nbsp;
          <button *ngIf="service.islogin()" (click)="carthandle()" class="btn btn-info btn-lg">
            Cart
          </button>&nbsp;
          <form *ngIf="service.islogin()" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search" [(ngModel)]="SearchKey">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="Search()">Search</button>
          </form>
          
         
        </div>
        
      </nav>

</header>