<br>
<div style="background-color: aliceblue;" class="container"><br><h1 style="font-size:40px;
    font-family:Impact, Charcoal, sans-serif;
    color:rgb(14, 71, 241);
    font-style: italic">{{this.restaurentName}} Restaurent Dishes</h1>
   <hr>
   <h4>Rating: {{this.rating}}</h4>  

  </div>
    
      <div class="container" align="center">
        <div class="row">
        <div class="col-sm-3" *ngFor="let dish of dishes">
            <img src={{dish.imageUrl}} alt={{dish.dishName}} width="100%" height="150"><br>
           <h4> {{dish.dishName}} at Rs. {{dish.price}}</h4>
            <p>About:&nbsp;{{dish.shortDescription}}</p>
           <h5> <span *ngIf="dish.freeDelivery">Avaliable for free delivery</span></h5>
            <button *ngIf="service.islogin()" class="btn btn-primary" (click)="addtoCart(dish.dishId,dish.dishName)">Add to cart</button>
            <button *ngIf="aService.isadminlogin()" class="btn btn-primary" (click)="edit(dish.dishId,dish.dishName)">Edit Dish</button>
            <hr>

</div>
        </div></div>

