<p>add-restaurant works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form">
                <div class="container">
                    <h3>Restaurent Details</h3>
                    <hr>
<label >Name:  </label>
<input type="text" class="form-control"  name="restaurentName" id="name" [(ngModel)]="restaurent.restaurentName" required>
<br>
<label >Address:  </label>
<input type="text" class="form-control"  name="restaurentAddress" id="address" [(ngModel)]="restaurent.restaurentAdress" required>
<br>
<label >Rating:  </label>
<input type="number" class="form-control"  name="restaurentRating" id="rating" [(ngModel)]="restaurent.restaurentRating" required>
<br>
<label >IsActive: {{restaurent.isActive}} </label><br>
<input type="radio" name="restaurentIsActive" id="isActive" value="true" (change)="radiochangeHandeller($event)" checked><i>true</i><br>
<input type="radio" name="restaurentIsActive" id="isActive" value="false" (change)="radiochangeHandeller($event)"><i>false</i>
<br>
<div style="background-color: rgb(177, 168, 228);">
<h5 style="color: red;">&nbsp;Note:</h5>
<li>Add one dish</li>
<li>More dish can be added in edit restaurent</li></div>
</div></div></div>
<div class="col-md-6">
    <div class="form"><div class="container">

        <h3>Dish Details</h3>
        <hr>
<label >Name:  </label>
<input type="text" class="form-control"  name="dishtName" id="dishtName" [(ngModel)]="dish.dishName" required>
<br>
<label >shortDescription:  </label>
<input type="text"  class="form-control" name="shortDescription" id="shortDescription" [(ngModel)]="dish.shortDescription" required>
<br>
<label >imageUrl:  </label>
<input type="text" class="form-control"  name="imageUrl" id="imageUrl" [(ngModel)]="dish.imageUrl" required>
<br>
<label >price:  </label>
<input type="number"  class="form-control" name="price" id="price" [(ngModel)]="dish.price" required>
<br>
<label >IsVeg:  {{dish.isVeg}}</label><br>
<input type="radio" name="isVeg" id="isVeg" value="true" (change)="radiochangeHandeller1($event)"><i>true</i><br>
<input type="radio" name="isVeg" id="isVeg" value="false" (change)="radiochangeHandeller1($event)" checked><i>false</i>
<br>
<label >FreeDelivery: {{dish.freeDelivery}} </label><br>
<input type="radio" name="freeDelivery" id="freeDelivery" value="true" (change)="radiochangeHandeller2($event)" checked ><i>true</i><br>
<input type="radio" name="freeDelivery" id="freeDelivery" value="false" (change)="radiochangeHandeller2($event)"><i>false</i>
<br>
<div align="center">

<button class="btn btn-primary" (click)="addhandeller()">Add</button></div>
</div></div>
</div>
</div>
</div>

